.git.backup/
01_multiqc_untrimmed/exome_seq/exome_read_depth
01_multiqc_untrimmed/exome_seq/fastqc_results
01_multiqc_untrimmed/exome_seq/multiqc_results/multiqc_data
01_multiqc_untrimmed/exome_seq/exome_seq_counts_summary.tsv
01_multiqc_untrimmed/methyl_seq/fastqc_results_XX
01_multiqc_untrimmed/methyl_seq/fastqc_results_XY
01_multiqc_untrimmed/methyl_seq/multiqc_results_XX/multiqc_data
01_multiqc_untrimmed/methyl_seq/multiqc_results_XY/multiqc_data
01_multiqc_untrimmed/RNA_seq/fastqc_results
01_multiqc_untrimmed/RNA_seq/merged_fastqs
01_multiqc_untrimmed/RNA_seq/multiqc_results/multiqc_data
01_multiqc_untrimmed/RNA_seq/multiqc_results/RNA_seq_counts_summary.R
01_multiqc_untrimmed/RNA_seq/multiqc_results/RNA_seq_counts_summary.tsv
mean_reads_quad.tsv
mean_reads_patient.tsv
mean_reads_untrimmed.R
02_run_asereadcounter/HISAT
03_analyze_ase/allele_balance_tables
04_phasing/paired_placentas_shared_variants
02_run_asereadcounter/troubleshooting
03_analyze_ase/allele_balance_chrom_plots
03_analyze_ase/violin_allele_balance
04_phasing/phased_allele_balance/Plac_*
04_phasing/median_phased_AB_plot.png
05_males/allele_balance_tables
05_males/HISAT
05_males/make_male_vcfs
05_males/phased_allele_balance/Plac_*
05_males/placentas_shared_variants
05_males/median_phased_AB_plot_males.png
/data/Wilson_Lab/projects/placentas_VW_ASE/01_generate_files/vcfs/count_num_variants
/data/Wilson_Lab/projects/placentas_VW_ASE/01_generate_files/vcfs/compare_vcfs
/data/Wilson_Lab/projects/placentas_VW_ASE/01_generate_files/rna_bams/run_snakemake.slurm
/data/Wilson_Lab/projects/placentas_VW_ASE/02_run_asereadcounter/troubleshooting